
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a 
      class="nav-link" 
      [class.active]="activeTab === 'member'"
      (click)="activeTab = 'member'">
      {{ "crew.detail" | translate}}
    </a>
  </li>
  <li class="nav-item">
    <a 
      class="nav-link" 
      [class.active]="activeTab === 'certificates'"
      (click)="activeTab = 'certificates'">
      {{ "crew.certificates" | translate}}
    </a>
  </li>
</ul>

<div class="tab-content p-3 border border-top-0">
  <div *ngIf="activeTab === 'member'">
    <app-crew-member [member]="member"></app-crew-member>
  </div>
  <div *ngIf="activeTab === 'certificates'">
  <app-crew-certificates [member]="member"></app-crew-certificates>
  </div>
</div>
