<div class="modal show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{ 'common.edit' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">{{ 'common.name' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="certificateType.name">
        </div>

        <div class="mb-3">
          <label class="form-label">{{ 'common.description' | translate }}</label>
          <input type="text" class="form-control" [(ngModel)]="certificateType.description">
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="onClose()">{{ 'common.cancel' | translate }}</button>
        <button class="btn btn-primary" (click)="onSave()">{{ 'common.save' | translate }}</button>
      </div>

    </div>
  </div>
</div>
