<h2 class="text-center mb-4">{{ 'crew.list' | translate }}</h2>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{{ 'crew.firstName' | translate }}</th>
        <th scope="col">{{ 'crew.lastName' | translate }}</th>
        <th scope="col">{{ 'crew.title' | translate }}</th>
        <th scope="col">{{ 'crew.nationality' | translate }}</th>
        <th scope="col">{{ 'crew.currency' | translate }}</th>
        <th scope="col">{{ 'crew.daysOnBoard' | translate }}</th>
        <th scope="col">{{ 'crew.dailyRate' | translate }}</th>
        <th scope="col">{{ 'crew.totalIncome' | translate }}</th>
        <th scope="col">{{ 'crew.certificates' | translate }}</th>
        <th scope="col">{{ 'common.actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of getCrews()">
        <td>{{ member.firstName }}</td>
        <td>{{ member.lastName }}</td>
        <td>{{ 'titles.' + getTitleNameById(member.titleId) | translate}}</td>
        <td>{{ getNameById(member.nationalityId) }}</td>
        <td>{{ getCurrencyCodeById(member.currencyId) }}</td>
        <td>{{ member.daysOnBoard }}</td>
        <td>{{ member.dailyRate | currency: getCurrencyCodeById(member.currencyId)}}</td>
        <td>{{ member.daysOnBoard * member.dailyRate | currency: getCurrencyCodeById(member.currencyId) }}</td>
        <td (click)="openCertificateModal(member)">
  <i class="fas fa-certificate text-primary" style="cursor:pointer"></i>
</td>
        <td>
<button class="btn btn-sm btn-outline-primary" (click)="openEditModal(member)">
  <i class="fas fa-edit"></i> {{ 'common.edit' | translate }}
</button>
  <button class="btn btn-sm btn-outline-danger" (click)="deleteMember(member)">
    <i class="fas fa-trash"></i> {{ 'common.delete' | translate }}
  </button>
</td>
      </tr>
    </tbody>
  </table>
</div>


<app-crew-edit
  *ngIf="showEditModal"
  [member]="selectedMember"
  [titles]="getTitles()"
  [currencies]="getCurrencies()"
  [nationalities]="getNationalities()"
  (cancel)="closeEditModal()"
  (save)="saveMember($event)">
</app-crew-edit>

<app-certificate-list
  *ngIf="showCertificateModal"
  [certificates]="selectedCertificates"
  [close]="closeCertificateModal">
</app-certificate-list>

