<h2>Mürettebat Listesi</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Ad</th>
      <th scope="col">Soyad</th>
      <th scope="col">Uyruk</th>
      <th scope="col">Ünvan</th>
      <th scope="col">Gün Sayısı</th>
      <th scope="col">Günlük Ücret</th>
      <th scope="col">Para Birimi</th>
      <th scope="col">Toplam Gelir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of crewList">
      <td>{{ member.firstName }}</td>
      <td>{{ member.lastName }}</td>
      <td>{{ member.nationality }}</td>
      <td>{{ member.title }}</td>
      <td>{{ member.daysOnBoard }}</td>
      <td>{{ member.dailyRate }}</td>
      <td>{{ member.currency }}</td>
      <td>{{ member.totalIncome }}</td>
    </tr>
  </tbody>
</table>
