<div *ngIf="certificate" class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'common.add' | translate }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">{{ 'certificate.type' | translate }}</label>
            <select class="form-select" [(ngModel)]="certificate.certificateTypeId" name="type">
              <option *ngFor="let type of types" [value]="type.id">
                {{ type.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">{{ 'certificate.issueDate' | translate }}</label>
            <input class="form-control" type="date" [(ngModel)]="certificate.issueDate" name="issueDate" />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ 'certificate.expiryDate' | translate }}</label>
            <input class="form-control" type="date" [(ngModel)]="certificate.expiryDate" name="expiryDate" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
        <button class="btn btn-primary" (click)="saveChanges()">{{ 'common.save' | translate }}</button>
      </div>
    </div>
  </div>
</div>
