<main class="main container py-5">
  <div class="content">
  
    <div class="language-selector d-flex justify-content-end mb-4">
      <i class="fas fa-globe fs-3 me-2" aria-hidden="true"></i>
      <select #langSelect (change)="onLangChange(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
          {{ lang }}
        </option>
      </select>
    </div>

    <div class="table-container">
      <crewList></crewList>
    </div>
  </div>
</main>

<router-outlet />
