<div class="modal fade show d-block" tabindex="-1" *ngIf="member" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'common.editMember' | translate }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        
        <div class="mb-3 row align-items-center">
          <label class="col-sm-3 col-form-label">{{ 'crew.firstName' | translate }}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="member.firstName" />
          </div>
        </div>

        <div class="mb-3 row align-items-center">
          <label class="col-sm-3 col-form-label">{{ 'crew.lastName' | translate }}</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="member.lastName" />
          </div>
        </div>

        <div class="mb-3 row align-items-center">
          <label class="col-sm-3 col-form-label">{{ 'crew.title' | translate }}</label>
          <div class="col-sm-9">
            <select class="form-select" [(ngModel)]="member.titleId">
              <option *ngFor="let title of titles" [ngValue]="title.id">{{ 'titles.' + title.name | translate}}</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row align-items-center">
          <label class="col-sm-3 col-form-label">{{ 'crew.nationality' | translate }}</label>
          <div class="col-sm-9">
             <select class="form-select" [(ngModel)]="member.nationalityId">
               <option *ngFor="let nat of nationalities" [ngValue]="nat.id">{{ nat.name }}</option>
            </select>
          </div>
        </div>

          <div class="mb-3 row align-items-center">
          <label class="col-sm-3 col-form-label">{{ 'crew.currency' | translate }}</label>
          <div class="col-sm-9">
            <select class="form-select" [(ngModel)]="member.currencyId">
               <option *ngFor="let cur of currencies" [ngValue]="cur.id">{{ cur.code }}</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row align-items-center">
          <label class="col-sm-3 col-form-label">{{ 'crew.daysOnBoard' | translate }}</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" [(ngModel)]="member.daysOnBoard" />
          </div>
        </div>

        <div class="mb-3 row align-items-center">
          <label class="col-sm-3 col-form-label">{{ 'crew.dailyRate' | translate }}</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" [(ngModel)]="member.dailyRate" />
          </div>
        </div>

      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="saveChanges()">{{ 'common.save' | translate }}</button>
      </div>
    </div>
  </div>
</div>